<!doctype html>
<html ng-app="todoApp" ng-app ng-csp>
<head>
    <script src="../../js/angular/angular.js"></script>
    <script src="init.js"></script>
    <script src="browser_action.js"></script>

    <style type="text/css">
        #mainPopup {
            padding: 10px;
            height: 200px;
            width: 400px;
            font-family: Helvetica, Ubuntu, Arial, sans-serif;
        }

        h1 {
            font-size: 2em;
        }

        .done-true {
            text-decoration: line-through;
            color: grey;
        }
    </style>
</head>
<body>
<div id="mainPopup">
    <h1>Domain Black List</h1>
    <!--<p>To shut this popup down, edit the manifest file and remove the "default popup" key. To edit it, just edit ext/browser_action/browser_action.html. The CSS is there, too.</p>-->
    <div ng-controller="TodoController">
        <ul class="unstyled">
            <li ng-repeat="todo in todos track by $index">
                <input type="checkbox" ng-model="todo.done">
                <span class="done-{{!todo.done}}">{{todo.text}}</span>
            </li>
        </ul>
        <form ng-submit="addTodo()">
            <input type="text" ng-model="todoText" size="30"
                   placeholder="add domains to block">
            <input class="btn-primary" type="submit" value="save">
        </form>
    </div>
</div>
</body>
</html>